* {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
}

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #1f4722;
   /* border-bottom: solid thin black; */
    margin: 0px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-container p {
    font-size: 22px;
}

.navbar {
    padding: 10px 0px;
}

.navbar a {
    color: white;
    padding: 0px 10px;
    font-size: 20px;
    text-decoration: none;
}

.navbar a:hover, .navbar a:active, .navbar a:focus {
    color: gray;
}

.logos {
    padding: 0px 0px 0px 125px;
}

.about {
    margin-top: 70px;
}

.footer {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #1f4722;
    /*position: fixed;*/
    text-align: center;
    width: 100%; 
    bottom: 0;   
    /*border-top: solid thin black;*/
}

.footer p {
    font-size: 15px;
}

.about {
    background-color: rgba(0,0,0, 80%);
}

.about img {
    border-radius: 50%;
    padding: 0 10px;
}

.about-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0% 10%;
    padding: 15px;
    text-align: center;
}

.p1 {
    font-size: 22px;
    font-weight: bold;
    text-shadow: 5px 10px 8px black;
}

.p2 {
    font-size: 17px;
    text-shadow: 2px 2px 2px black;
}

.tech h2 {
    text-align: center;
}

.tech-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0px 70px;
    
}

.tech-container div{
    background-color: #1f4722;
    color: white;
    padding: 10px;
    border-style: solid;
    border-color: white
}

.tech-container div:hover {
    color: gray;
}

.tech {
    padding: 40px 0px;
}

.projects h2 {
    text-align: center;
}

.projects-container {
    display: flex;
    flex-flow: row;
    padding: 0px 25px;
}

.card {
    text-align: center;
    border: solid thin black;
    padding: 25px;
    margin: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card a { 
    text-decoration: none;
}

.card ul, .card h5 {
    text-align: start;
}