* {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
}

/*---------------------NavBar---------------------*/
#navbar-container {
    background-color: #1f4722;
    padding: 5px 20px;
}

#brand {
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
}

.navbar {
    padding: 10px 0px;
}

.navbar a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 10px;
    text-decoration: none;
}

.navbar a:hover, .navbar a:active, .navbar a:focus {
    color: gray;
}

.navbar-toggler-icon {
    color: white;
}

.navbar-toggler-icon:hover {
    color: gray
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.ul-container {
    display: flex;
    flex-direction: column;
}

.logos {
    flex-direction: row;
}

/*---------------------About---------------------*/
.about {
    background-color: rgba(0,0,0, 80%);
}

.about img {
    border-radius: 50%;
    border-color: #1f4722;
    border-style: groove;
}

.about-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0% 10%;
    padding: 15px;
    text-align: center;
}

.p1 {
    font-size: 22px;
    font-weight: bold;
    text-shadow: 5px 10px 8px black;
}

.p2 {
    font-size: 17px;
    text-shadow: 2px 2px 2px black;
}


/*-----------------------Tech-----------------------*/
.section-title {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

.tech-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0px 70px;
    
}

.tech-container div{
    background-color: #1f4722;
    color: white;
    padding: 10px;
    border-style: solid;
    border-color: white
}

.tech-container div:hover {
    color: gray;
}

.tech {
    padding: 40px 0px;
}

/*---------------------Projects---------------------*/
.projects{
    padding: 10%;
    text-align: center;
}
.carousel-inner {
    border: solid thin black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel-project {
    margin: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn-light {
    border-color: #1f4722;
    align-items: center;
    color:#1f4722;
    font-weight: bold;
}

.btn-light a {
    color:#1f4722;
    text-decoration: none;
}

/*---------------------Footer---------------------*/
.footer {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #1f4722;
    text-align: center;
    width: 100%; 
    bottom: 0;   
}

.footer p {
    font-size: 15px;
}

/*---------------------MediaQueries---------------------*/
@media screen and (max-width: 400px) {
    body {
        min-width: 400px;
    }
}

@media screen and (min-width: 768px) {
    .ul-container {
        flex-direction: row;
        justify-content: space-evenly;
    }
}