* {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
}

/*---------------------NavBar---------------------*/
#navbar-container {
    background-color: #1f4722;
    padding: 5px;
}

#brand {
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
}

.navbar {
    padding: 10px 0px;
}

.navbar a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 10px;
    text-decoration: none;
}

.navbar a:hover, .navbar a:active, .navbar a:focus {
    color: gray;
}

.navbar-toggler-icon {
    color: white;
}

.navbar-toggler-icon:hover {
    color: gray
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.ul-container {
    display: flex;
    flex-direction: row;

}
/*---------------------MediaQueries---------------------*/